body{
      background-color: hsl(216, 12%, 8%);
      font-family: Overpass;
}
main{
      box-sizing: border-box;
      background-color: hsl(213, 19%, 18%);
      height: 26em;
      width: 25em;
      margin: 5em auto;
      padding: 1em 2em;
      border-radius: 30px;
}
img{
      border: 20px solid hsl(213, 10%, 21%);
      border-radius: 50%;
      margin-left: -2.5em;
}
h1 {
      color: hsl(0, 0%, 100%);
}
p {
      color: hsl(217, 12%, 63%);
}
section {
      display: flex;
}
section div{
      box-sizing: border-box;
      height: 3.4em;
      width: 3.4em;
      border: 1px solid black;
      border: none;
      border-radius: 50%;
      background-color: hsl(213, 10%, 21%);
      padding: 1em 1.3em;
      color: hsl(217, 12%, 63%);
}
section div:not(:first-child){
      margin-left: 0.5em;
}
button {
      margin-top: 1em;
      height: 3em;
      width: 23em;
      background-color: hsl(25, 97%, 53%);
      border-radius: 30px;
      border: none;
      color:hsl(0, 0%, 100%);
      text-transform: uppercase;
}
footer {
      text-align: center;
      color: white;
}
footer a{
      color: hsl(25, 97%, 53%);
}
section div:hover{
      background-color: hsl(25, 97%, 53%);
      color: hsl(0, 0%, 100%);
      cursor: pointer;
}
section div:active{
      background-color: hsl(216, 12%, 54%);
      color: hsl(0, 0%, 100%);
}
button:hover {
      color: hsl(25, 97%, 53%);
      background-color:hsl(0, 0%, 100%);
      cursor: pointer;
}