body{
      background-color: hsl(216, 12%, 8%);
      font-family: Overpass;
}
main{
      box-sizing: border-box;
      background-color: hsl(213, 19%, 18%);
      height: 26em;
      width: 25em;
      margin: 5em auto;
      padding: 1em 2em;
      border-radius: 10px;
}
img{
      border: 20px solid hsl(213, 10%, 21%);
      border-radius: 50%;
      margin-left: -2.5em;
}
h1 {
      color: hsl(0, 0%, 100%);
}
p {
      color: hsl(217, 12%, 63%);
}
div {
      display: flex;
}
div p{
      border: 18px solid hsl(213, 10%, 21%);
      border-radius: 50%;

}
div p:not(:first-child){
      margin-left: 1.5em;
}
button {
      height: 3em;
      width: 23em;
      background-color: hsl(25, 97%, 53%);
      border-radius: 30px;
      border: none;
      color:hsl(0, 0%, 100%);
      text-transform: uppercase;
}
footer {
      text-align: center;
      color: white;
}
footer a{
      color: hsl(25, 97%, 53%);
}
div p:active{
      border-color: hsl(216, 12%, 54%);
}
div p:hover{
      border-color: hsl(25, 97%, 53%);
      cursor: pointer;
}
button:hover {
      color: hsl(25, 97%, 53%);
      background-color:hsl(0, 0%, 100%);
      cursor: pointer;

}