body{
      background-color: hsl(216, 12%, 8%);
      font-family: Overpass;
}
main{
      box-sizing: border-box;
      background-color: hsl(213, 19%, 18%);
      height: 26em;
      width: 25em;
      margin: 5em auto;
      padding: 1em 2em;
      border-radius: 30px;
      text-align: center;
}
img {
      margin: 2em auto;
}
button {
      background-color: hsl(216, 12%, 8%);
      border: 1px solid black;
      border: none;
      border-radius: 20px;
      height: 3em;
      width: 15em;
      color: hsl(25, 97%, 53%);
}
h1 {
      color: hsl(0, 0%, 100%);
}
p {
      color: hsl(216, 12%, 54%);
}
footer {
      text-align: center;
      color: white;
}
footer a{
      color: hsl(25, 97%, 53%);
}